<h2 mat-dialog-title>Settings</h2>
<mat-dialog-content class="mat-typography">
    <mat-action-list>
        <button mat-list-item (click)="check()">My Statistics</button>
        <button mat-list-item (click)="check()">Enable Left Hand Mode</button>
        <button mat-list-item (click)="check()">Disable Sounds</button>
        <button mat-list-item (click)="check()">Payment</button>
        <button mat-list-item (click)="check()">Reports</button>
    </mat-action-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
