<div class="row">
    <button mat-button color="primary" mat-raised-button (click)="showResult()">Get Result</button>
</div>
<div class="header-row">
    <div class="drag-zone">
        <div class="card-holder">
            <h2>Barrier</h2>
            <div
                cdkDropList
                #barrierList="cdkDropList"
                [cdkDropListData]="barrier"
                [cdkDropListConnectedTo]="[couldDoWithoutList, cardList1, cardList2, cardList3, cardList4, cardList5, cardList6, essentialForSatisfationList, niceToHaveList]"
                class="get-drag-list"
                (cdkDropListDropped)="drop($event)"
            >
                <div class="career-card" cdkDrag>
                    <div class="title">
                        {{ barrier[0]?.title }}
                    </div>
                    <div class="description">
                        {{ barrier[0]?.description }}
                    </div>
                </div>
            </div>
        </div>
        <div class="card-holder">
            <h2>Could Do Without</h2>
            <div
                cdkDropList
                #couldDoWithoutList="cdkDropList"
                [cdkDropListData]="couldDoWithout"
                [cdkDropListConnectedTo]="[couldDoWithoutList, cardList1, cardList2, cardList3, cardList4, cardList5, cardList6, essentialForSatisfationList, niceToHaveList, barrierList]"
                class="get-drag-list"
                (cdkDropListDropped)="drop($event)"
            >
                <div class="career-card" cdkDrag>
                    <div class="title">
                        {{ couldDoWithout[0]?.title }}
                    </div>
                    <div class="description">
                        {{ couldDoWithout[0]?.description }}
                    </div>
                </div>
            </div>
        </div>
        <div class="card-holder">
            <h2>Essential For Satisfation</h2>
            <div
                cdkDropList
                #essentialForSatisfationList="cdkDropList"
                [cdkDropListData]="essentialForSatisfation"
                [cdkDropListConnectedTo]="[couldDoWithoutList, cardList1, cardList2, cardList3, cardList4, cardList5, cardList6, barrierList, niceToHaveList]"
                class="get-drag-list"
                (cdkDropListDropped)="drop($event)"
            >
                <div class="career-card" cdkDrag>
                    <div class="title">
                        {{ essentialForSatisfation[0]?.title }}
                    </div>
                    <div class="description">
                        {{ essentialForSatisfation[0]?.description }}
                    </div>
                </div>
            </div>
        </div>
        <div class="card-holder">
            <h2>Nice To Have</h2>
            <div
                cdkDropList
                #niceToHaveList="cdkDropList"
                [cdkDropListData]="niceToHave"
                [cdkDropListConnectedTo]="[couldDoWithoutList, cardList1, cardList2, cardList3, cardList4, cardList5, cardList6, essentialForSatisfationList, barrierList]"
                class="get-drag-list"
                (cdkDropListDropped)="drop($event)"
            >
                <div class="career-card" cdkDrag>
                    <div class="title">
                        {{ niceToHave[0]?.title }}
                    </div>
                    <div class="description">
                        {{ niceToHave[0]?.description }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shuffle-zone">
        <h2>Shuffe Card</h2>
        <div class="career-card card-shuffle" (click)="shuffleCard()">Shuffle Card</div>
    </div>
</div>

<div class="career-card-list-holder">
    <div cdkDropList #cardList1="cdkDropList" [cdkDropListData]="cardListData.data1" [cdkDropListConnectedTo]="[couldDoWithoutList, barrierList, essentialForSatisfationList, niceToHaveList]" class="career-card-list" (cdkDropListDropped)="drop($event)">
        <div class="career-card" *ngFor="let item of cardListData.data1" cdkDrag>
            <div class="title">{{ item.title }}</div>
            <div class="description">{{ item.description }}</div>
        </div>
    </div>
    <div cdkDropList #cardList2="cdkDropList" [cdkDropListData]="cardListData.data2" [cdkDropListConnectedTo]="[couldDoWithoutList, barrierList, essentialForSatisfationList, niceToHaveList]" class="career-card-list" (cdkDropListDropped)="drop($event)">
        <div class="career-card" *ngFor="let item of cardListData.data2" cdkDrag>
            <div class="title">{{ item.title }}</div>
            <div class="description">{{ item.description }}</div>
        </div>
    </div>
    <div cdkDropList #cardList3="cdkDropList" [cdkDropListData]="cardListData.data3" [cdkDropListConnectedTo]="[couldDoWithoutList, barrierList, essentialForSatisfationList, niceToHaveList]" class="career-card-list" (cdkDropListDropped)="drop($event)">
        <div class="career-card" *ngFor="let item of cardListData.data3" cdkDrag>
            <div class="title">{{ item.title }}</div>
            <div class="description">{{ item.description }}</div>
        </div>
    </div>
    <div cdkDropList #cardList4="cdkDropList" [cdkDropListData]="cardListData.data4" [cdkDropListConnectedTo]="[couldDoWithoutList, barrierList, essentialForSatisfationList, niceToHaveList]" class="career-card-list" (cdkDropListDropped)="drop($event)">
        <div class="career-card" *ngFor="let item of cardListData.data4" cdkDrag>
            <div class="title">{{ item.title }}</div>
            <div class="description">{{ item.description }}</div>
        </div>
    </div>
    <div cdkDropList #cardList5="cdkDropList" [cdkDropListData]="cardListData.data5" [cdkDropListConnectedTo]="[couldDoWithoutList, barrierList, essentialForSatisfationList, niceToHaveList]" class="career-card-list" (cdkDropListDropped)="drop($event)">
        <div class="career-card" *ngFor="let item of cardListData.data5" cdkDrag>
            <div class="title">{{ item.title }}</div>
            <div class="description">{{ item.description }}</div>
        </div>
    </div>
    <div cdkDropList #cardList6="cdkDropList" [cdkDropListData]="cardListData.data6" [cdkDropListConnectedTo]="[couldDoWithoutList, barrierList, essentialForSatisfationList, niceToHaveList]" class="career-card-list" (cdkDropListDropped)="drop($event)">
        <div class="career-card" *ngFor="let item of cardListData.data6" cdkDrag>
            <div class="title">{{ item.title }}</div>
            <div class="description">{{ item.description }}</div>
        </div>
    </div>
</div>
